@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: wheat;
    background-image: linear-gradient( #34294d, #342e73 );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.myLabel {
    font-size: 150px;
}

#myInput {
    padding: 10px 0px;
    font-size: large;
    width: clamp(10%, 10%, 20%);
    outline: none;
    border-radius: 10px;
    border: 0px;
    text-indent: 5px;
    transition: 200ms;
}

#myInput:focus {
    outline: 2px solid rgb(179, 20, 179);
}

#myButton {
    padding: 10px 25px;
    border-radius: 20px;
    border: 0ch;
    outline: none;
    background-color: rgb(160, 17, 160);
    color: white;
    transition: 200ms;
}
#myButton:hover {
    background-color: rgb(179, 20, 179);
    color: white;
}
#myButton:active {
    background-color: rgb(75, 5, 75);
}

p {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.acertado {
    color: #62e386;
    text-shadow: 0px 0px 5px #62e386;
    transition: 500ms;
    animation: animation infinite ;
    animation-duration: 800ms;
}
.errado {
    color: #e3626b;
}

@keyframes animation {
    from {
        text-shadow: 0px 0px 5px #62e386;
    }
    to {
        text-shadow: 0px 0px 10px #62e386;
    }
}

@media (min-width:960px) {
    #myInput {
        text-indent: none;
    };
};